body{
    background-color: #d4f1f4;
    margin: 0;
}


input,
textarea,
label {
  display: block;
}

.hidden{
    display: none;
}
.app_bar{
    background-color: #75e6da;
    margin: 0;
    padding: 2rem;
}
.nav_bar{
    margin-left: 2.5rem;
}
.nav_bar a{
    margin-right: 2.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #d4f1f4;
    font-size: 1.5rem;
    color: black;
}
.nav_bar a:hover{
    text-decoration-color: black;
}

/*FRONTPAGE*/
.frontpage_article{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    border: 2px solid #189ab4;
    padding: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.f{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}
.frontpage_article h2{
    font-size: 2.5rem;
}

.readmore{
    margin-top: 4rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #189ab4;
}
.readmore:hover{
   
    font-size: 1.5rem;
}


 /*ARTICLE*/

 .article{
     display: flex;
     flex-flow: column;
     margin-left: 15rem;
 }

.article_title{
    margin-left: 25rem;
    font-size: 3.5rem;
    color: #05445e ;
}

.article_creator{
    margin-left: 28rem;
    font-size: 2rem;
}

.article_content{
    margin-left: 10rem;
    margin-right: 25rem;
}

.comments{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.comments h2{
    color:#05445e ;
    font-size: 1.5rem;
}
.commentList{
    list-style-type: none;
}
.panel{
    border: 2px solid #189ab4;
    margin-right: 30rem;
    padding: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#commentForm label{
    font-size: 1.5rem;
    color: #05445e;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.submit_btn{
    background-color:#189ab4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: 1rem;
}
.submit_btn:hover{
    color: #05445e;
    cursor: pointer;
    font-size: 1.3rem;
}


/*POST SUGGESTION*/
form{
    margin-left: 15rem;

}
#postsugForm label{
    font-size: 1.5rem;
    color: #05445e;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#postsugForm input{
    padding-left: 4rem;
    padding-right: 4rem ;
}
#postsugForm textarea{
    padding: 5rem;
}